menu "LED Subsystem"
    choice
        prompt "Blink Sleep TIme"
        default BLINK_PERIOD_1S
        optional
    
        config BLINK_PERIOD_250MS
            bool "250MS period"
    
        config BLINK_PERIOD_500MS
            bool "500MS period"
    
        config BLINK_PERIOD_1S
            bool "1S period"

        config BLINK_PERIOD_2S
            bool "2S period"
    endchoice

    config LED_BLINKING_PERIOD
    int
    default 100 if BLINK_PERIOD_100S
    default 500 if BLINK_PERIOD_500MS
    default 1000 if BLINK_PERIOD_1S
    default 2000 if BLINK_PERIOD_2S
    range 100 2000
    help
        Led blinking period

    config ADVANCED_LED_SETTINGS
        bool "Advanced LED settings"
        help
            Advanced LED settings

    if ADVANCED_LED_SETTINGS
        menu "Advanced LED Settings"
            config LED_BRIGHTNESS
                int "Led brightness (%)"
                default 100
                range 0 100
                help
                    Led brightness percentage

            config LED_FADE_DURATION
                int "Led fade duration (ms)"
                default 500
                range 0 5000
                help
                    Led Fade duration ms
            menu "Expert settings"
                config ENABLE_LED_DEBUG
                    bool "Enable LED debugging"
                
                config CUSTOM_BLINK_PATTERN
                    bool "Custom blink pattern"
            endmenu
        endmenu
    endif
endmenu

menu "Zephyr's config"
source "Kconfig.zephyr"
endmenu
